.mycontainer{
    display: flex;
}
.my-margin{
    margin: 40px;
}
.my_product{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height: 100vh;
    flex: auto;
}
.product{
    border-radius: 1.2%;
    height: 22vh;
    width: 20vh;
    background-color: rgb(44, 43, 43);
    margin: 3px;
    min-width: 24vw;
    min-height: 20vw;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media(max-width: 900px) {
    .product{
        width: 47vw;
    }
}
.product:hover{
    transform:scale(1.05);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
/* .product:active{
    background-color: blue;
    transition-duration: 4ms;
} */
.product_img{
    height: 50%;
    width: 95%;
    /* background-image: url("sample_product.jpg"); */
    background-size: contain;
    margin: 2%;
    border-radius: 1px;
    border: 2px solid black;
    /* background-size: 50px 70px; */
}
.p_price{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-corosel{
    height: 22vh;
    min-height: 22vw;
}